body {
  background-color: #222;
}
.weatherApp{
    width:90%;
    max-width: width 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
}
.search{
  text-align: center;
  align-items:center;
  justify-content: space-between;
}
.searchInput{
  border:0;
  outline:0;
  background:#ebfffc;
  color:10px 25px;
  padding: 10px 45px;
  height:40px;
  border-radius:30px;
  flex:30;
  margin-right:50px;
  font-size: 18px;
}
.searchButton{
  border:0;
  outline:0;
  background:#ebfffc;
  color:10px 25px;
  padding: 10px 45px;
  height:40px;
  border-radius:30px;
  flex:30;
  margin-right:30px;
  font-size: 18px;
 
}

.searchButton img{
  height: 18px;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.temp{
  float:center;
  align-items:center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.humidity{
  float:right;
  align-items:center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.wind{
  float:left;
  align-items:center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;

}
